@import '../../../styles/variables';
@import '../../../styles//mixins';

$page-content-padding-top: calc($header-height + 2rem);

.page-content {
    @include animation-fade-in(background-fade-in, 0, $fade-in-animation-time);
    background-color: $page-content-background-color;
    color: white;
    margin: $page-content-padding-top auto 2rem;
    padding: 0.5rem 1rem;

    @media screen and (max-width: $screen-size-sm-max) {
        margin: 1rem;
    }

    @media screen and (min-width: $screen-size-md-min) {
        width: 50%;
        padding: 0 1rem;
    }

    p {
        line-height: 1.8rem;
    
        a, a:visited {
            color: white;
        }
    }
}