@import './variables';

@keyframes changecolor-white-to-magenta {
    0% {
        color: $header-nav-link-color;
    }
    25% {
        color: $header-nav-link-hover-25-pct-color;
    }

    50% {
        color: $header-nav-link-hover-50-pct-color;
    }

    75% {
        color: $header-nav-link-hover-75-pct-color;
    }

    100% {
        color: $header-nav-link-hover-final-color;
    }
}

@keyframes flip-text-x {
    0% {
        transform: rotateX(0deg);
    }
    25% {
        transform: rotateX(90deg);
    }
    50% {
        transform: rotateX(180deg);
    }
    75% {
        transform: rotateX(270deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes float-upward-flip-y {
    0% {
        transform: translateY(100vh) rotateY(0deg);
    }
    100% {
        transform: translateY(0vh) rotateY(360deg);
    }
}

@keyframes float-upward-flip-y-delay {
    0% {
        transform: translateY(100vh) rotateY(0deg);
    }
    50% {
        transform: translateY(100vh) rotateY(0deg); 
    }
    100% {
        transform: translateY(0vh) rotateY(360deg);
    }
}