/* Colors */
$header-background-color: #88888888;
$header-nav-link-color: white;
$header-nav-link-hover-25-pct-color: #ffccff;
$header-nav-link-hover-50-pct-color: #ff99ff;
$header-nav-link-hover-75-pct-color: #ff55ff;
$header-nav-link-hover-final-color: #ff00ff;
$background-default-color: #2E5175;
$page-content-background-color: #263646AA;
$footer-background-color: #88888888;

/* Components sizes */
$header-height: 3.375rem;
$page-top-padding: $header-height + 2rem;
$footer-height: 3.375rem;;
$page-bottom-padding: $footer-height + 2rem;

/* Screen Sizes */